{% extends 'base.html.twig' %}

{% block title %}Ajout d'un points relais{% endblock %}

{% block body %}
<div class="d-flex justify-content-center flex-column align-items-center">
    <h1>Ajout d'un nouveau point Relais</h1>

    {{ form_errors(relayCenterForm) }}

    {{ form_start(relayCenterForm) }}

    <div class="w-100">
        {{ form_row(relayCenterForm.city,{
            label: 'Ville',
            attr: {'class': 'w-100'}
        })}}

        {{ form_row(relayCenterForm.address,{
            label: 'Adresse',
            attr: {'class': 'w-100'}
        })}}
        {{ form_row(relayCenterForm.postal_code,{
            label: 'Code postal',
            attr: {'class': 'w-100'}
        })}}
        {{ form_row(relayCenterForm.longitude, {
            label: 'Longitude',
            attr: {'class': 'w-100'}
        }) }}
        {{ form_row(relayCenterForm.latitude, {
            label: 'Latitude',
            attr: {'class': 'w-100'}
        })}}
    

        {{ form_row(relayCenterForm.submit, {
            label: 'Ajouter un nouveau point relais',
            attr: {'class': 'w-100 mt-4 btn btn-primary'}
        })}}
    </div>

    {{ form_end(relayCenterForm)}}
</div>
    
{% endblock %}
